/*Large desctop*/
@media (min-width: 980px) {
  body{
    padding-top:50px;
    background-color: #f5f5f5;
  }
  .linediv-l{
    border-right:1px white solid;
  }
  .linediv-r{
    border-left:1px white solid;
  }
}

/*Landscape phones and down*/
@media (max-width: 480px) {
  body{
    background-color: #fff;
  }
  .copy{
    padding:2.5% 10%;
  }
  .linediv-l{
    border-bottom:1px white solid;
  }
  .linediv-r{
    border-top:1px white solid;
  }
}

/*All form factors*/

/*Main body and headings*/
body{
  font-family: Helvetica, Arial, sans-serif;
}
.profit{
  background-color: #00cccc;
}
.heading, .subheading {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: 20px;
}
h3{
  text-align: center;
  color: #005599; 
}
h1 {
  text-align: center;
  font-style: italic; 
}
h4 {
  font-size: 18px;
  color: #005599;
  font-weight: lighter;
}

p.lead {
  font-family: Arial, sans-serif;
  padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
p.list{
  padding-top: 0%;
  text-align: justify;
}
p {
  font-size: 19px;
  line-height: 24px;
}

p.white {
  font-size: 18px;
  color: white;
  text-align: center;
  line-height: 24px;
}

/*Video pitch and Action*/
.pitch {
  padding: 2.5% 0%;
}
.share {
  padding: 2% 0%;
}
.actions {
  background-color: #393939;
  padding: 3% 0%;
}
.asset, .video, .thermometer, .order, .social, .statistics {
  text-align: center;
}
.statistics h3, .statistics p {
  color: white;
}

/* Marketing Copy and Footer*/
.copy {
  padding-top: 2.5%;
  padding-bottom: 1.5%;
  text-align: left;
}
.asset {
  padding: 2.5% 0%;
}
.footer {
  padding-top: 2.5%;
  color: #aaaaaa;
  text-align: center;
}
.footer p {
  font-size: 11px;
}
.footer a {
  color: #ccccff;
}

div.addthis_toolbox {
  width:244px;
  margin: 0 auto;
}